<div class="post">
	<div class="header">
		<h1>post title</h1>

		<button class="btn btn-link" routerLink="/">Go to main</button>
	</div>

	<div class="info">
		<strong>author</strong>
		<small>date</small>
	</div>

	<div>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ad amet aperiam asperiores debitis, deleniti enim
			ipsam molestiae natus, nihil nisi nobis optio placeat praesentium.
		</p>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ad amet aperiam asperiores debitis, deleniti enim
			ipsam molestiae natus, nihil nisi nobis optio placeat praesentium.
		</p>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ad amet aperiam asperiores debitis, deleniti enim
			ipsam molestiae natus, nihil nisi nobis optio placeat praesentium.
		</p>
	</div>
</div>
