{
	"printWidth": 120,
	"singleQuote": true,
	"overrides": [
		{
			"files": ["**/*.scss", "**/*.html"],
			"options": {
				"singleQuote": false
			}
		}
	],
	"useTabs": true,
	"semi": true,
	"bracketSpacing": true
}
